@import compass/css3
@import compass/reset
@import inc/fonts
@import inc/colors
@import inc/base
@import inc/component
@import inc/form
@import inc/navbar
@import inc/chosen
@import inc/carousel
@import inc/bootstrap-custom
@import inc/icon
@import inc/portfolio
@import inc/widget
@import inc/datepicker
@import inc/dropzone
@import inc/post
@import inc/modal

@import "icon/*.png"
$icon-sprite-dimensions: true
@include all-icon-sprites


.contain-header
	width: 100%

.header-primary
	//display: none

	> .header-primary-service
		.image-svg
			height: 64px


.header-primary
	// display: table
	// width: 100%
	// // position: fixed
	// // top: 0
	// // left: 0
	// // z-index: 125
	// @include box-shadow(3px 6px 5px -5px rgba(0,0,0,.25))
	// @include opacity(0)
	// @include transform(translate(0, -100%))
	// @include smooth-ease

	// &.in
	// 	@include opacity(1)
	// 	@include transform(translate(0, 0))

	// .header-primary-item
	// 	display: table-cell
	// 	vertical-align: middle

	// .header-primary-dropdown
	// 	height: 110px
	// 	text-align: center

	// 	&:hover
	// 		background: darken(get-color(mute), 3)

	// 	.dropdown-menu
	// 		min-width: 240px
	// 		left: auto
	// 		right: 0
	// 		border: none
	// 		margin-top: 1px
	// 		padding: 0

	// 		> li
	// 			> a
	// 				padding: 14px 24px

	.header-primary-service
		//width: 18%
		@include smooth-ease

		> [data-toggle="modal"]
			padding-top: 12px
			padding-bottom: 8px

		&:hover
			background: lighten(get-color(primary), 10)

		.icon-service-inside
			fill: get-color(clean)

		.image-svg
			height: 64px			

.header-complimentary
	position: relative

.header-complimentary-item
	> h2
		margin-left: .5 * $base-gap-width	

.list-header-social
	margin-top: 8px
	margin-right: $base-gap-width		

.logo
	padding-top: 12px

	> a
		display: block

#contain-nav-complimentary
	position: absolute
	top: 100%
	right: 0
	z-index: 115
	//margin-top: -1px
	background-color: get-color(primary)	
	//border-top: 1px solid darken(get-color(mute), 6)

.btn-service
	background-color: get-color(default)	
	display: block
	position: relative
	@include smooth-ease

	&:hover,
	&.active
		background-color: get-color(primary)
	
.btn-service-label
	text-align: center
	width: 100%
	padding: 8px
	position: relative
	//white-space: nowrap
	//@include text-ellipsis

	&:before
		content: ''
		display: block
		border: 6px solid transparent
		border-bottom: 6px solid get-color(primary)
		border-top: none
		position: absolute
		left: 50%
		top: 0
		margin-left: -6px
		margin-top: -6px

.contain-btn-service
	&:hover
		.btn-service-label
			background: get-color(clean)
			color: get-color(primary)

			&:before
				border-bottom: 6px solid get-color(clean)


.intro-image
	margin-bottom: -70px


.thumbnail-portfolio > img
	max-height: 137.5px


.media-blog-feed
	> .media-left
		padding-right: $base-gap-width	


.media-visible
	overflow: visible


.comment-body
	min-height: 72px
	padding-right: $base-gap-width

.post-head-icon
	.image-svg
		min-width: 100px
		max-height: 100px	

.intro-new
	min-height: 80%
	background-image: url(../images/background-intro.jpg)
	background-repeat: no-repeat
	background-position: center bottom
	@include background-size(cover)		

.logo-primary
	padding: 20px 20px 12px

	img
		max-width: 100%



.link-intro-service
	line-height: 1.3
	background: get-color(base)
	@include smooth-ease
	padding: $base-gap-width

	> [class^="col-"],
	> [class*="col-"]
		padding-top: .5 * $base-gap-width
		padding-bottom: .5 * $base-gap-width

.link-intro-icon
	@include smooth-ease


.intro-services
	position: relative
	
	// &:before,
	// &:after
	// 	content: ''
	// 	display: block
	// 	background: rgba(get-color(clean), .1)	
	// 	position: absolute
	// 	z-index: 2
		
	// &:before
	// 	width: 100%
	// 	height: 1px
	// 	top: 50%
	// 	left: 0
	// 	margin-top: -1px
		
	// &:after
	// 	width: 1px
	// 	height: 100%
	// 	top: 0
	// 	left: 50%
	// 	margin-left: -1px

.portfolio-new-item
	> img
		display: block

.popover
	position: absolute!important
	@include typo-main
	@include rem(font-size, 13px)
	@include border-radius(4px)

.pop-content-main
	p + p
		margin-top: .5 * $base-gap-width	


.modal-html
	.modal-dialog
		display: block
		margin: 0 auto
						


@import inc/media_queries/mobile
@import inc/media_queries/tablet
@import inc/media_queries/small_desktop
@import inc/media_queries/desktop