@mixin typo-main
	font-family: "Museo Sans","Segoe UI", Helvetica, Arial, sans-serif
	font-weight: normal

@mixin typo-secondary
	font-family: "Gentium Basic", "Segoe UI", Helvetica, Arial, sans-serif
	font-weight: normal

@mixin border-box
	@include box-sizing(border-box)

@mixin smooth-ease
	@include transition(all .5s ease)

@mixin text-ellipsis
	white-space: nowrap
	max-width: 100%
	overflow: hidden
	text-overflow: ellipsis

@function parseInt($n)
	@return $n / ($n * 0 + 1)

@mixin rem($property, $values)
	$px: ()
	$rem: ()

	@each $value in $values

		@if $value == 0 or $value == auto
			$px: append($px, $value)
			$rem: append($rem, $value)

		@else
			$unit: unit($value)
			$val: parseInt($value)
		
			@if $unit == "px"
				$px: append($px, $value)
				$rem: append($rem, $val / 10 + rem)
		
			@if $unit == "rem"
				$px: append($px, $val * 10 + px)
				$rem: append($rem, $value)

	@if $px == $rem
		#{$property}: $px
	
	@else
		#{$property}: $px
		#{$property}: $rem

@mixin placeholder($color)
	&:-moz-placeholder
		color: $color
	&::-moz-placeholder
		color: $color
	&:-ms-input-placeholder
		color: $color
	&::-webkit-input-placeholder
		color: $color		

*	
	@include border-box	

img
	max-width: 100%

.clearfix:after
	visibility: hidden
	display: block
	font-size: 0
	content: " "
	clear: both
	height: 0
		
html
	font-size: 62.5%

body,
html	
	margin: 0
	height: 100%
	color: get-color(default)
	line-height: 1.688
	padding-right: 0!important
	overflow: visible!important
	@include typo-main

body,
input,
select,
textarea,
button
	-webkit-font-smoothing: antialiased
	@include rem(font-size, 16px)
	@include typo-main

p
	line-height: 1.688
	margin-bottom: 0

strong
	font-weight: bold	

em
	font-style: italic	

a,
a:visited
	text-decoration: none
	color: get-color(primary)

	&:hover
		text-decoration: none	

h1, h2, h3, h4
	font-weight: bold
	margin: 0

h2
	@include rem(font-size, 30px)

h3
	@include rem(font-size, 24px)

h4
	@include rem(font-size, 18px)

.typo-secondary
	@include typo-secondary	

.block
	display: block

.inline-block
	display: inline-block	

.text-spaced
	letter-spacing: .1em	

.text-spaced-half
	letter-spacing: .05em	

.text-uppercase
	text-transform: uppercase

.text-lowercase
	text-transform: lowercase	

.text-normal
	font-weight: 500

.text-bold
	font-weight: 700
	
.text-italic
	font-style: italic

.text-center
	text-align: center	

.text-right
	text-align: right

.text-left
	text-align: left

.text-large
	@include rem(font-size, 36px)	

.text-medium
	@include rem(font-size, 24px)	

.text-normal
	@include rem(font-size, 16px)	

.text-small
	@include rem(font-size, 14px)	

.text-normal
	font-weight: normal

.text-light
	font-weight: 300

.text-thin
	font-weight: 100

.lead
	line-height: 1.4
	@include rem(font-size, 24px)

.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	border: 0	

@for $i from 10 through 48
	.font-size-#{$i}	
		@include rem(font-size, $i * 1px)

@for $i from 1 through 10
	.margin-top-#{$i*5}	
		margin-top: $i*5px
		
	.margin-left-#{$i*5}	
		margin-left: $i*5px




.width-100p
	width: 100%
	
.width-24
	@include rem(width, 24px)
	
.width-32
	@include rem(width, 32px)

.width-36
	@include rem(width, 36px)

.width-48
	@include rem(width, 48px)

.width-52
	@include rem(width, 52px)

.width-64
	@include rem(width, 64px)

.width-68
	@include rem(width, 68px)

.width-75
	@include rem(width, 75px)

.width-85
	@include rem(width, 85px)

.width-100
	@include rem(width, 100px)

.width-120
	@include rem(width, 120px)

.width-136
	@include rem(width, 136px)

.width-175
	@include rem(width, 175px)

.height-24
	@include rem(height, 24px)

.height-36
	@include rem(height, 36px)

.height-48
	@include rem(height, 48px)

.height-50
	@include rem(height, 50px)

.height-54
	@include rem(height, 54px)

.height-72
	@include rem(height, 72px)

.height-100
	@include rem(height, 100px)

.height-136
	@include rem(height, 136px)

.height-145
	@include rem(height, 145px)

.height-175
	@include rem(height, 175px)

.height-100p
	height: 100%