.owl-dots
	text-align: center
	margin-top: 30px

	> .owl-dot
		display: inline-block
		width: 16px
		height: 16px
		margin: 0 5px
		background-color: get-color(mute)
		cursor: pointer
		@include border-radius(100%)

		&.active,
		&:hover
			background-color: get-color(warning)