$colors: primary #0fb7fe, danger #E4241F, default #28282e, secondary #94ADB7, secondary-lighten #ECF9FF, seamless #e5fbff, seamless-lighten #F2F2F2, mute #eaeaea, clean #ffffff, warning #ffa42f, primary-lighten #0fb7fe, base #28282e, mute-lighten #91ced9, highlight #e2b834, complimentary #015681

@function get-color($color-name)
	@each $color in $colors
		$key: nth($color, 1)
		$value: nth($color, 2)

		@if $key == $color-name
			@return $value

@each $color in $colors
	$key: nth($color, 1)
	$value: nth($color, 2)

	.color-#{$key},
	.link-#{$key},
	.link-#{$key}:visited,
	.text-#{$key}
		color: $value

	.fill-#{$key}
		fill: $value

	.link-#{$key}:hover
		color: darken($value, 5)

	.background-#{$key},
	.btn-#{$key}
		background-color: $value

	.border-#{$key},
	.btn-stroke-#{$key}
		border-color: $value

	.btn.btn-stroke-#{$key},
	.btn.btn-stroke-#{$key}:visited
		color: $value
		border-style: solid
		border-width: 1px

	.btn-stroke-#{$key}:hover,
	.btn-stroke-#{$key}:visited:hover
		background-color: $value

	.btn-#{$key}:hover,
	.btn-#{$key}:visited:hover
		background-color: darken($value, 5)

	.option-group-#{$key}
		$background-base-color: $value

		> .option-item
			background-color: $background-base-color

		@for $i from 0 to 5
			$item-color: darken( $background-base-color, $i*2 )

			> .option-item:nth-child(#{$i})
				background-color: $item-color

				&:hover
					background-color: darken( $item-color, 3 )

				> [type=submit]
					background: transparent
					border: none
					cursor: pointer
