$base-gap-width: 40px

[class^="icon-"]
	display: inline-block
	vertical-align: middle

caption, th, td
	font-weight: bold	

.relative
	position: relative	

.row.row-large
	margin-left: -1 * .5 * $base-gap-width
	margin-right: -1 * .5 * $base-gap-width

	> [class^="col-"],
	> [class^="col-"]
		padding-left: .5 * $base-gap-width
		padding-right: .5 * $base-gap-width

.row.row-tight
	margin-left: 0
	margin-right: 0

	> [class^="col-"],
	> [class^="col-"]
		padding-left: 0
		padding-right: 0

.icon-helper
	display: inline-block
	vertical-align: middle
	margin-right: 10px	
	margin-top: -3px

	&.icon-helper-right
		margin-left: 10px
		margin-right: 0

.btn,
.btn-visited
	height: 46px
	padding: 16px 30px
	line-height: 1
	display: inline-block
	border: none
	text-align: center
	cursor: pointer
	@include smooth-ease

	&.btn-sm
		padding: 10px 18px
		height: 32px
		@include rem(font-size, 12px)

	&.btn-lg
		padding: 16px 18px
		height: 48px

.btn-danger,
.btn-danger:visited,
.btn-primary,
.btn-primary:visited,
.btn-default,
.btn-default:visited
	color: get-color(clean)

.btn-stroke-secondary:hover,
.btn-stroke-secondary:visited:hover,
.btn-stroke-primary:hover,
.btn-stroke-primary:visited:hover
	color: get-color(clean)

.btn-stroke-clean:hover,
.btn-stroke-clean:visited:hover
	color: get-color(primary)

.btn-base,
.btn-base:visited
	background: get-color(clean)
	color: get-color(base)
	border: 1px solid get-color(base)

	&:hover
		background: get-color(base)
		color: get-color(clean)

.btn-block
	display: block
	width: 100%

.btn-medium
	min-width: 200px

.btn-medium-alt
	min-width: 165px
										
.btn-group
	@extend .clearfix

	> .btn
		width: 100%
		text-align: center

		+ .btn
			margin-top: 15px


.border-clean-alpha
	border-color: rgba(get-color(clean), .1)


.background-base-alpha
	background-color: rgba(get-color(base), .88)			


.column-lone
	float: none!important
	margin-left: auto
	margin-right: auto



.spaced
	padding-top: $base-gap-width
	padding-bottom: $base-gap-width

	&.spaced-triple
		padding-top: 3 * $base-gap-width
		padding-bottom: 3 * $base-gap-width

	&.spaced-double
		padding-top: 2 * $base-gap-width
		padding-bottom: 2 * $base-gap-width	

	&.spaced-half
		padding-top: .5 * $base-gap-width
		padding-bottom: .5 * $base-gap-width	

	&.spaced-top
		padding-bottom: 0

	&.spaced-bottom
		padding-top: 0		

.rounded
	@include border-radius(100%)	

.module
	padding: $base-gap-width	

	&.module-half
		padding: .5 * $base-gap-width	

	&.module-small
		padding: .25 * $base-gap-width	

.no-padding-top
	padding-top: 0

.no-padding-bottom
	padding-bottom: 0
				
.fill-space
	width: 100%
	height: 100%
	top: 0
	bottom: 0
	left: 0
	right: 0
	position: absolute

.contain-vertical-align,
.contain-vertical-align > .vertical-align
	width: 100%
	height: 100%

.contain-vertical-align
	display: table

.vertical-align
	display: table-cell

.vertical-align-middle	
	vertical-align: middle

.vertical-align-bottom	
	vertical-align: bottom


.border-all
	border-width: 1px
	border-style: solid

	&.border-double
		border-width: 2px

	&.border-dashed
		border-style: dashed

.border-top
	border-top-width: 1px
	border-top-style: solid

.border-bottom
	border-bottom-width: 1px
	border-bottom-style: solid	

.border-left
	border-left-width: 1px
	border-left-style: solid

.border-right
	border-right-width: 1px
	border-right-style: solid	

.border-top-bottom
	border-top-width: 1px
	border-top-style: solid
	border-bottom-width: 1px
	border-bottom-style: solid	


.media-object
	max-width: none	


.list-default
	> li
		+ li			
			margin-top: 15px


.list-inline
	> li
		display: inline-block
		vertical-align: middle
		
		+ li			
			margin-left: $base-gap-width


.section-head
	padding: 14px 36px
	display: inline-block
	line-height: 1

.section-head-new
	position: relative
	display: inline-block
	border-bottom: 4px solid get-color(highlight)	
	line-height: 1
	padding-bottom: 12px
	margin-bottom: 12px



.image-background-active
	display: block !important
	width: 100%
	background-repeat: no-repeat
	background-position: center top
	@include background-size(contain)	

	.thumbnail-portfolio &
		@include background-size(cover)	




.thumbnail
	overflow: hidden

	> img
		@include smooth-ease

	&:hover
		> img
			@include transform(scale(1.11))



.option-group
	> .option-item
		@include smooth-ease



.inline-item
	display: inline-block
	vertical-align: middle
	
	
	+ .inline-item
		margin-left: $base-gap-width



.contain-map
	height: 150px
	margin-bottom: $base-gap-width

	> .map		
		position: absolute
		left: 0
		width: 100%
		height: 150px
		background: get-color(seamless)




.contain-tile
	margin-left: -.5 * $base-gap-width
	margin-right: -.5 * $base-gap-width

	> .tile-item
		padding-left: .5 * $base-gap-width
		padding-right: .5 * $base-gap-width

.tile-item-icon
	padding-top: $base-gap-width		