@media only screen and (min-width: 420px)
  .datepicker
    width: 420px

@media only screen and (max-width: 480px)
  html .datepicker-days > table > tbody > tr > td,
  html .datepicker-days > table > thead > tr > th
    padding: 10px


.field-icon-calendar
  max-height: 24px


.datepicker
  padding: 0
  margin: 0
  border: none
  z-index: 135!important

.datepicker-days
  > table
    width: 100%

    > thead,
    > tbody
      > tr
        > td,
        > th
          text-align: center
          @include rem(font-size, 14px)

    > thead
      > tr
        > th
          padding: 10px 15px
          color: get-color(secondary)

          &.dow
            padding: 10px
            text-transform: uppercase
            font-weight: 500
            border-top: 1px solid get-color(mute)
            border-bottom: 1px solid get-color(mute)

          &.datepicker-switch
            color: get-color(primary)
            font-weight: 300
            pointer-events: none
            @include rem(font-size, 16px)

          &.prev,
          &.next
            cursor: pointer
            @include rem(font-size, 20px)

    > tbody
      > tr
        > td
          padding: 15px 20px
          font-weight: 300
          color: get-color(primary)
          cursor: pointer

          &.disabled,
          &.old.disabled
            pointer-event: none
            cursor: not-allowed
            @include opacity(.25)

            &:hover
              background-color: transparent
              color: get-color(primary)

          &.old,
          &.new
            color: get-color(secondary)
            @include rem(font-size, 12px)

          &.active
            background: get-color(seamless)

          &:hover
            background: get-color(primary)
            color: get-color(clean)