.dropzone
  box-sizing: border-box
  position: relative

  *
    box-sizing: border-box

.dz-preview
  position: relative
  display: inline-block
  margin: 0.5em

  .contain-upload-simple &
    display: block
    margin: 0
    padding-left: $base-gap-width
    padding-right: $base-gap-width
    height: 100%
    overflow: hidden

    .control-field-icon &
      padding-left:  2 * $base-gap-width

  .dz-details
    display: none
    position: absolute
    height: 100%
    margin-top: 2px

    .contain-upload-simple &
      display: block
      position: relative

      > .dz-filename
        line-height: $field-height
      
      > .dz-size
        display: none

    .contain-upload-simple.is-processing &
      > .dz-filename
        display: none

    [data-dz-name]
      display: block
      @include text-ellipsis
      max-width: 80%
        

  .dz-error-mark
    display: none

  &.dz-error
    .dz-error-message, 
    .dz-error-mark
      display: block

    .dz-image
      display: none

  .dz-success-mark
    display: none

  .dz-error-mark
    position: relative
    
    &:before
      content: '\21'
      color: get-color(danger)

    > svg
      display: none

.dz-image
  > img
    display: block  
    max-width: none  

  .contain-upload-simple &
    display: none 

.dz-remove
  text-indent: -9999px
  display: block
  position: relative
  line-height: 1

  .contain-upload-simple &
    width: 20px
    position: absolute
    top: 0
    right: 0
    margin-right: 10px
  
  &:before
    content: '\D7'
    color: get-color(danger)  
    position: absolute
    top: 0
    left: 50%
    margin-left: -10px
    text-indent: 0
    font-weight: bold
    line-height: 1
    @include rem(font-size, 20px)    

  .contain-upload-simple &
    float: right
    margin-top: 20px

.dz-progress
  display: block
  height: 4px
  margin-top: 4px
  background: get-color(seamless)
  @include border-radius(4px)

  .contain-upload-simple &
    margin-top: 28px
    position: absolute
    top: 0
    left: 0
    width: 100%
    padding-left: $base-gap-width
    padding-right: $base-gap-width
    background-color: transparent
    
    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      margin-top: -4px
      background: get-color(seamless)

    .dz-upload
      position: relative

    .control-field-icon &
      padding-left: 2 * $base-gap-width

  .dz-complete &
    @include opacity(0)

  .dz-upload
    display: block
    height: 100%
    width: 0
    background: get-color(primary)
    @include border-radius(4px)

.dz-error-message
  color: get-color(danger)
  display: none
  @include rem(font-size, 12px)
      

.dz-message,
.dz-fallback
  display: none


.file-upload-zone
  cursor: pointer

  .contain-upload-simple &
    z-index: 6

  .has-thumbnail &
    &:hover
      &:after
        content: ''
        display: block
        width: 90%
        height: 90%
        position: absolute
        top: 5%
        left: 5%
        border: 2px dashed get-color(clean)

  .max &
    pointer-events: none
    cursor: not-allowed

  &.dz-max-files-reached
    text-indent: -9999px


.wrap-upload-preview
  position: absolute
  top: 50%
  margin-top: -95px
  width: 100%
  z-index: 5

  .contain-upload-complex &
    margin-left: 0 

  .contain-upload-simple &
    position: relative
    top: 0
    margin-top: 0
    height: $field-height

  .contain-upload-options &
    position: relative
    top: 0
    margin-top: 0



.upload-progress-item
  position: absolute
  left: 0
  top: 50%
  margin-top: -2px
  width: 80%

  .contain-upload-complex &
    left: 10%
    margin-top: -15px

  .dz-complete &
    display: none

.upload-progress-item,
.progress-bar
  height: 4px
  @include border-radius(4px)


.upload-preview
  height: $field-height
  line-height: $field-height
  padding-right: $base-gap-width
  display: inline-block
  @include text-ellipsis
  max-width: 70%

  .contain-upload-complex &
    display: none

  ~ [data-dz-remove]  
    vertical-align: top
    cursor: pointer
    height: $field-height
    line-height: $field-height
    display: inline-block


.upload-preview,
.upload-preview ~ [data-dz-remove]
  @include opacity(0)

  .dz-complete &
    @include opacity(1)



.contain-upload-complex.module
  padding-bottom: 0
  position: relative




.file-upload-helper
  @include text-ellipsis
  
  .is-processing &,
  .has-thumbnail &
    @include opacity(0)


.contain-upload-icon
  .is-processing &,
  .has-thumbnail &
    @include opacity(0)

  .is-dragging &
    border-color: get-color(primary) !important

    .image-svg
      fill: get-color(primary) !important
  
  .image-svg
    height: 100px

    .contain-upload-options &
      width: 48px
      height: 48px



.upload-thumbnail
  display: none
  
  .contain-upload-complex &
    display: block
    margin: 0 auto
    
  
.progress-label
  display: none
    
[data-type="simple"]
  ~ .progress-label
    position: absolute
    font-size: 10px
    font-style: italic
    text-transform: uppercase
    bottom: 4px
    right: 18px
    display: inline-block
    background: get-color(mute)
    color: get-color(secondary)
    line-height: 1
    padding: 3px 8px
    border-radius: 15px
    z-index: 5

    &:empty
      display: none