$field-height: 55px

.form-control
  display: block
  width: 100%
  height: $field-height
  padding: 18px $base-gap-width
  line-height: 1.42857143
  background-color: #fff
  background-image: none
  border: none
  color: get-color(default)
  outline: none
  @include placeholder(get-color(secondary))

  &.disabled,
  &:disabled
    background: rgba(get-color(mute), .25)
    color: darken(get-color(mute), 4)
    cursor: not-allowed
    @include placeholder(darken(get-color(mute), 4))

    &:hover
      background: rgba(get-color(mute), .25)

  &:hover
    background-color: rgba(get-color(seamless), .25)

  &:focus,
  &:active
    background-color: get-color(seamless)


.form-control-auto
  display: inline-block
  width: auto

.form-control-no-placeholder
  color: get-color(secondary)

  ~ .contain-file-upload:hover
    background-color: rgba(get-color(seamless), .25)

.form-control-no-hover:hover
  background: #fff

span.form-control
  color: get-color(secondary)


textarea.form-control
  height: 150px
  resize: none    

[type=submit]
  background-color: get-color(clean)

.btn-submit,
.btn-submit:visited
  height: $field-height
  padding: 18px
  background: get-color(clean)
  color: get-color(primary)
  border: none
  outline: none

  &:hover
    background: get-color(mute)

.label-checkbox
  color: get-color(secondary)
  position: relative
  height: $field-height
  padding-left: .5 * $base-gap-width
  cursor: pointer
  display: block

  > input[type=checkbox]
    position: absolute
    z-index: -1
    left: 0
    top: 50%
    margin: 0
    margin-top: -8px
    @include opacity(0)

    &:checked
      ~ span:before
        @extend .icon-check-on

  > span
    display: inline-block
    line-height: $field-height
    vertical-align: middle

    &:before
      @extend .icon-check-off
      content: ''
      position: absolute
      left: 0
      top: 50%
      margin-top: -8px


.contain-label-toggle
  @extend .clearfix
  position: relative
  cursor: pointer
  color: get-color(clean)

  > .label-toggle
    float: left
    display: inline-block
    
    > span
      display: block
      padding: 0 14px
      line-height: 34px
      height: 34px
      cursor: pointer
      background: darken(get-color(mute), 4)

    > input
      @extend .sr-only

      &:checked
        ~ span
          background: get-color(primary)


.form-group
  + .form-group
    border-top: 1px solid get-color(mute)

    &.form-group-clean
      border-top: 1px solid transparent



.control-field
  position: relative
  
  label.error
    position: absolute
    top: 50%
    right: $base-gap-width
    border-bottom: 1px solid get-color(mute)
    display: inline-block
    padding: 4px 8px
    background: get-color(clean)
    z-index: 3
    color: get-color(danger)
    margin-top: -15px
    @include rem(font-size, 12px)

.control-field-icon,
.control-field-helper
  position: relative
  height: $field-height
  

  > .field-icon
    position: absolute
    left: $base-gap-width
    top: 50%

    &.field-icon-camera 
      margin-top: -12px

    &.field-icon-calendar  
      margin-top: -12px
  

  > .field-helper
    position: absolute
    right: $base-gap-width
    top: 50%

    &.field-helper-question
      margin-top: -12px


.control-field-icon
  .form-control
    padding-left: 2 * $base-gap-width  


.control-field-helper
  .form-control
    padding-right: 2 * $base-gap-width      



.input-datepicker
  @include rem(font-size, 14px)

  &::-webkit-input-placeholder
    @include rem(font-size, 16px)

  &::-ms-input-placeholder
    @include rem(font-size, 16px)

  &::-moz-placeholder
    @include rem(font-size, 16px)




.form-primary
  .form-group
    + .form-group
      border-top: none
      margin-top: .5 * $base-gap-width
        
  .form-control
    border: 1px solid get-color(mute)

  textarea.form-control
    height: 130px