.menu-bar
	// .bar-level-1
	// 	fill: get-color(primary)

	// .bar-level-2
	// 	fill: lighten(get-color(primary), 10)

	// .bar-level-3
	// 	fill: lighten(get-color(primary), 20)

	path
		fill: get-color(clean)


.icon-about
	.wrench-outer
		fill: get-color(primary)


.icon-term
	.book-lines
		fill: get-color(primary)		


.icon-blog
	.paper-content
		fill: get-color(primary)		


.icon-contact
	.envelope-inner
		fill: get-color(primary)		


.icon-head-certificate,
.icon-head-drop
	margin-bottom: -.5 * $base-gap-width


.image-svg
	@include smooth-ease	


.icon-service-inside
	.tile-item &
		fill: get-color(primary)		

.icon-head-service
	width: 62px
	height: 54px

.icon-service-shadow
	fill: get-color(base)

.icon-service-body
	fill: get-color(primary)
	@include smooth-ease

	&.icon-service-body-lighten
		fill: lighten(get-color(primary), 15)

	.link-clean:hover &
		fill: get-color(highlight)