.modal
	text-align: center
	padding: 0 !important
	z-index: 134

	&:before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		margin-right: -4px

.modal-backdrop
	z-index: 133		

.modal-dialog
	display: inline-block
	text-align: left
	vertical-align: middle
	width: 96%
	max-width: 1200px

	&.modal-dialog-small
		max-width: 540px

	&.modal-dialog-medium
		max-width: 680px

	&.modal-dialog-large
		max-width: 980px


.modal-content
	border: none
	background-color: transparent
	@include box-shadow(none)


.modal-header
	background-color: get-color(clean)
	min-height: 0
	border-bottom: 1px solid get-color(mute)
	padding: $base-gap-width


.modal-body
	background-color: get-color(clean)
	padding: 0

	&.modal-body-tight
		padding-left: 0
		padding-right: 0



[data-dismiss=modal]		
	display: block
	position: absolute
	top: 0
	right: 0
	margin-top: -80px
	line-height: 1
	cursor: pointer

	.image-svg
		height: 52px