.nav
  padding-left: 0
  margin-bottom: 0
  list-style: none

  > li
    position: relative
    display: block

    > a
      position: relative
      display: block
      padding: 10px 15px

      &:hover, 
      &:focus
        text-decoration: none
        background-color: #eee

    &.disabled > a
      color: #777

      &:hover, 
      &:focus
        color: #777
        text-decoration: none
        cursor: not-allowed
        background-color: transparent

  .open > a
    background-color: #eee
    border-color: #337ab7

    &:hover, 
    &:focus
      background-color: #eee
      border-color: #337ab7

  .nav-divider
    height: 1px
    margin: 9px 0
    overflow: hidden
    background-color: #e5e5e5

  > li > a > img
    max-width: none

.nav-tabs
  @extend .clearfix

  > li
    float: left
    margin-bottom: -1px

    > a,
    > a:visited
      background: get-color(clean)        
      color: get-color(default)
      border: 3px solid get-color(mute)
      height: 60px
      padding: 15px 18px
      min-width: 260px
      @include border-radius(0)

    &.active,
    &:hover
      > a,
      > a:visited
        background: get-color(primary)
        border: 3px solid get-color(primary)
        color: get-color(clean)

  &.nav-justified
    width: 100%
    border-bottom: 0

    >
      li
        float: none

        > a
          margin-bottom: 5px
          text-align: center

      .dropdown .dropdown-menu
        top: auto
        left: auto

      li > a
        margin-right: 0
        border-radius: 4px

      .active > a
        border: 1px solid #ddd

        &:hover, 
        &:focus
          border: 1px solid #ddd

@media (min-width: 768px)
  .nav-tabs.nav-justified > li
    display: table-cell
    width: 1%

    > a
      margin-bottom: 0

@media (min-width: 768px)
  .nav-tabs.nav-justified >
    li > a
      border-bottom: 1px solid #ddd
      border-radius: 4px 4px 0 0

    .active > a
      border-bottom-color: #fff

      &:hover, 
      &:focus
        border-bottom-color: #fff

.nav-pills > li
  float: left

  > a
    border-radius: 4px

  + li
    margin-left: 2px

  &.active > a
    color: #fff
    background-color: #337ab7

    &:hover, 
    &:focus
      color: #fff
      background-color: #337ab7

.nav-stacked > li
  float: none

  + li
    margin-top: 2px
    margin-left: 0

.nav-justified
  width: 100%

  >
    li
      float: none

      > a
        margin-bottom: 5px
        text-align: center

    .dropdown .dropdown-menu
      top: auto
      left: auto

@media (min-width: 768px)
  .nav-justified > li
    display: table-cell
    width: 1%

    > a
      margin-bottom: 0

.nav-tabs-justified
  border-bottom: 0
  >
    li > a
      margin-right: 0
      border-radius: 4px

    .active > a
      border: 1px solid #ddd

      &:hover, 
      &:focus
        border: 1px solid #ddd

@media (min-width: 768px)
  .nav-tabs-justified >
    li > a
      border-bottom: 1px solid #ddd
      border-radius: 4px 4px 0 0

    .active > a
      border-bottom-color: #fff

      &:hover, 
      &:focus
        border-bottom-color: #fff

.tab-content >
  .tab-pane
    display: none

  .active
    display: block

.nav-tabs .dropdown-menu
  margin-top: -1px
  border-top-left-radius: 0
  border-top-right-radius: 0
  
.navbar
  position: relative
  min-height: 50px
  margin-bottom: 20px
  border: 1px solid transparent

@media (min-width: 768px)
  .navbar
    border-radius: 4px

@media (min-width: 768px)
  .navbar-header
    float: left

.navbar-collapse
  padding-right: 15px
  padding-left: 15px
  overflow-x: visible
  -webkit-overflow-scrolling: touch
  border-top: 1px solid transparent
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)

  &.in
    //overflow-y: auto

@media (min-width: 768px)
  .navbar-collapse
    width: auto
    border-top: 0
    -webkit-box-shadow: none
    box-shadow: none

    &.collapse
      display: block !important
      height: auto !important
      padding-bottom: 0
      overflow: visible !important

    &.in
      overflow-y: visible

  .navbar-fixed-top .navbar-collapse, 
  .navbar-static-top .navbar-collapse, 
  .navbar-fixed-bottom .navbar-collapse
    padding-right: 0
    padding-left: 0

.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse
  margin-right: -15px
  margin-left: -15px

@media (min-width: 768px)
  .container > .navbar-header, 
  .container-fluid > .navbar-header, 
  .container > .navbar-collapse, 
  .container-fluid > .navbar-collapse
    margin-right: 0
    margin-left: 0

.navbar-header
  @extend .clearfix    

.navbar-brand
  float: left
  //height: 50px
  padding: 15px 15px
  font-size: 18px
  //line-height: 20px

  &:hover, &:focus
    text-decoration: none

  > img
    display: block

@media (min-width: 768px)
  .navbar >
    .container .navbar-brand, .container-fluid .navbar-brand
      margin-left: -15px

.navbar-toggle
  position: relative
  float: right
  padding: 9px 10px
  margin-top: 6px
  margin-right: 15px
  margin-bottom: 6px
  background-color: transparent
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

  &:focus
    outline: 0

  .icon-bar
    display: block
    width: 22px
    height: 2px
    border-radius: 1px

    + .icon-bar
      margin-top: 4px

@media (min-width: 768px)
  .navbar-toggle
    display: none

.navbar-nav
  //margin: 7.5px -15px

  > li > a
    padding-top: 10px
    padding-bottom: 10px
    line-height: 20px

@media (min-width: 768px)
  .navbar-nav
    float: left
    margin: 0

    > li
      float: left

      > a
        padding-top: 15px
        padding-bottom: 15px

.navbar-text
  margin-top: 15px
  margin-bottom: 15px

@media (min-width: 768px)
  .navbar-text
    float: left
    margin-right: 15px
    margin-left: 15px

@media (min-width: 768px)
  .navbar-left
    float: left !important

  .navbar-right
    float: right !important
    margin-right: -15px

    ~ .navbar-right
      margin-right: 0


.navbar-toggle .icon-bar
  background-color: #888      





.nav-complimentary-toggle
  > [data-toggle]
    &:hover,
    &:focus
      background: none

.nav-complimentary
  @extend .clearfix
  padding: 15px 0
  line-height: 1
  margin-top: 6px

  li,
  .dropdown-menu > li
    > a,
    > a:visited
      display: block
      padding: 8px 15px
      color: get-color(primary)
      position: relative
  
  > li    
    > a,
    > a:visited
      color: get-color(clean)

      &[data-toggle]:after
        display: none

      &:after
        content: ''
        display: block
        height: 1px
        margin: 0 45%
        background: white
        @include opacity(0)
        @include smooth-ease

      &:hover
        color: white
        background: none

        &:after
          margin: 0
          @include opacity(1)

  > .dropdown
    > a,
    > a:visited
      padding-top: 0
      padding-bottom: 0

    .dropdown-menu 
      position: relative
      display: block
      margin: 0
      padding: 0
      background: none
      border: none
      float: none
      @include box-shadow(none)
      
      > li
        > a,
        > a:visited
          &:hover
            background: lighten(get-color(seamless-lighten), 3)
            



.nav-inline
  @extend .clearfix

  > li
    > a,
    > a:visited
      padding: 0

      &:hover
        background: none

    + li
      margin-top: 10px        


.header-primary
  a,
  a:visited
    line-height: 1.2      


.nav-footer > li > a:hover
  background: none
  color: lighten(get-color(primary), 10)    