.thumbnail-portfolio
	display: block
	position: relative
	
	&:after
		@extend .fill-space
		content: ''
		border: 3px solid transparent
		@include box-sizing(border-box)

	&.active,
	&:hover
		&:after
			border: 3px solid get-color(primary)

	> img
		display: block

.cycle-pager-active > .thumbnail-portfolio:after
	border: 3px solid get-color(primary)		
		