.post
	margin-bottom: $base-gap-width

	p
		margin-bottom: $base-gap-width

	.lead + p
		margin-top: 15px


.post-head
	position: relative
			
.post-head-icon
	margin-top: -150px // - (50px + 80px + 20px)


.post-body
	> .row
		> .col-md-6:only-child
			width: 100%

	p
		line-height: 1.8

	.btn
		@include typo-main	



	blockquote
		padding: 50px 0
		position: relative
		font-style: italic
		@include typo-main
		font-weight: 300

		p
			margin-bottom: 0

		&:before,
		&:after
			display: block
			width: 1px
			position: absolute
			left: 50%
			background: get-color(secondary-lighten)

		&:before
			top: 0

		&:after
			bottom: 0


.post-meta
	p
		margin-bottom: 0



.post-single
	h4
		@include rem(font-size, 24px)



.list-post
	> .list-post-item
		+ .list-post-item
			padding-top: 2 * $base-gap-width
			margin-top: 2 * $base-gap-width
			border-top: 1px solid get-color(mute)



.list-comment
	> .list-comment-item
		+ .list-comment-item
			margin-top: $base-gap-width



.post-cover
	> img
		display: block
		margin-left: auto
		margin-right: auto
								

.avatar
	width: 72px
	height: 72px
	display: inline-block
	


.comment-meta
	p
		margin-bottom: 0
