@media only screen and (min-width: $screen-lg-min)
	.container
		width: 100%
		width: -webkit-calc(100% - #{$grid-gutter-width})
		width: -moz-calc(100% - #{$grid-gutter-width})
		width: calc(100% - #{$grid-gutter-width})
		max-width: 1840px