@media only screen and (max-width: $screen-xs-max)
	[class^="col-md"],
	[class^="col-sm"],
	[class^="col-lg"],
	[class*="col-md"],
	[class*="col-sm"],
	[class*="col-lg"]
		+ [class^="col-md"]:not([class^="col-xs"]),
		+ [class^="col-sm"]:not([class^="col-xs"]),
		+ [class^="col-lg"]:not([class^="col-xs"]),
		+ [class*="col-md"]:not([class*="col-xs"]),
		+ [class*="col-sm"]:not([class*="col-xs"]),
		+ [class*="col-lg"]:not([class*="col-xs"])
			margin-top: 15px


	.media
		> .media-left,
		> .media-right,
		> .media-body
			display: block
			width: 100%

		> .media-body
			padding-bottom: .5 * $base-gap-width

		> .media-left ~ .media-body
			padding-bottom: 0
			padding-top: .5 * $base-gap-width


	.spaced
		padding-top: .5 * $base-gap-width
		padding-bottom: .5 * $base-gap-width

		&.spaced-triple
			padding-top: 1.5 * $base-gap-width
			padding-bottom: 1.5 * $base-gap-width

		&.spaced-double
			padding-top: $base-gap-width
			padding-bottom: $base-gap-width	

		&.spaced-top
			padding-bottom: 0

		&.spaced-bottom
			padding-top: 0		

	.module
		padding: .5 * $base-gap-width		

	.no-padding-top
		padding-top: 0

	.no-padding-bottom
		padding-bottom: 0


	.modal
		top: 15%
		left: 3%
		right: 3%
		bottom: auto
		overflow: visible!important

		.modal-dialog
			margin: 0

		.modal-body
			max-height: 380px
			overflow-y: auto

		.modal-header
			padding: 15px

			.btn-modal-back
				margin-top: -10px

			.text-uppercase
				@include text-ellipsis

			[class^="col-"],
			[class*="col-"]
				overflow: visible


		.service-thank
			padding: 10px

			.image-svg
				width: 80px

			.text-medium
				@include rem(font-size, 18px)


	.btn-modal-back
		float: left!important


	.control-field-border
		border-left: none
		border-top-width: 1px
		border-top-style: solid


	.control-field-xs-indent
		padding-left: $base-gap-width


	.file-upload-zone
		@include text-ellipsis


	
	.media > .media-left.hidden-xs ~ .media-body
		padding-top: 0



	.list-inline
		> li + li
			margin-left: .5 * $base-gap-width


	.section-head
		display: block
		text-align: center


	.logo
		border-bottom: 1px solid get-color(clean)
		
	.tagline
		> h2
			@include rem(font-size, 18px)

	.tagline,
	.nav-complimentary-toggle
		padding-top: 8px

	// #contain-nav-complimentary
	// 	position: relative
	// 	clear: both

	// .nav-complimentary
	// 	@include column-count(2)

	// 	&:after
	// 		content: ''
	// 		display: block
	// 		width: 1px
	// 		height: 100%
	// 		position: absolute
	// 		top: 0
	// 		left: 50%
	// 		background: get-color(clean)
	// 		visibility: visible

	// 	a
	// 		@include text-ellipsis


	.btn-service-label
		margin-bottom: 12px
		@include text-ellipsis



	.btn-service
		.image-svg
			height: 80px



	.intro-complimentary
		.fill-space
			position: relative
			clear: both
			margin-top: 80px

			.font-size-48
				@include rem(font-size, 36px)



	.contain-portfolio-item, 
	.contain-portfolio-image
		display: block
		


	.nav-footer
		display: block
		
		a
			white-space: nowrap
			max-width: 100%
			overflow: hidden
			text-overflow: ellipsis

	.list-social
		float: none!important



	.post-head
		margin-top: 20px

		> .post-head-icon
			margin-top: -90px


	.widgets-footer-primary > .widget-container + .widget-container
		border-left: none



	.control-field label.error
		margin-right:  -1 * $base-gap-width
		



@media only screen and (max-width: $screen-xs-min - 1px)		
	.contain-label-toggle
		margin-bottom: .5 * $base-gap-width

	.header-primary
		> .header-primary-item
			display: inline-block
			float: left
			width: 50%
			max-height: 155px
			overflow: hidden

			&.logo-primary
				display: none

	.intro-heading
		@include rem(font-size, 24px)

	.intro-services
		.font-size-32
			@include rem(font-size, 16px)

		.font-size-48
			@include rem(font-size, 24px)


	.intro-new
		.module.module-double
			padding-top: 0
				





@media only screen and (max-width: $screen-xs-max) and (orientation: landscape)
	.modal
		.modal-body
			max-height: 240px


