@media only screen and (min-width: $screen-md-min)
	.affix
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 3

	.logo-primary
		//width: 175px	

	.start-label
		line-height: 1.4	
		
	.intro
		display: flex

	.intro-new
		position: relative
		margin-bottom: 188px

	.intro-services
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		margin-bottom: -188px

		.row.row-tight
			height: 188px

	.testimonial-prev,
	.testimonial-next
		margin-top: 2.5 * $base-gap-width


	#contain-nav-complimentary
		position: relative
		display: block
		//height: 78px
		top: 0
		margin-top: 0
		//border-left: 1px solid get-color(clean)


	.nav-complimentary
		display: inline-block
		//margin-top: 4px
		padding: 0
		float: right
		//margin-top: .25 * $base-gap-width
		
		> li
			float: left

			+ li
				margin-left: .5 * $base-gap-width

			> a,
			> a:visited
				&:hover,
				&:focus,
				&:active
					background-color: transparent
					//color: get-color(primary)

		> .dropdown
			> .dropdown-menu
				position: absolute
				display: none
				background: get-color(clean)
				border: 1px solid get-color(mute)
				margin-top: 19px
				right: 0
				left: auto

				> li
					> a,
					> a:visited
						padding: 15px
				
			&.open
				> .dropdown-menu
					display: block

				> a,
				> a:visited
					background-color: transparent


	.btn-service-label
		position: absolute
		left: 0
		@include opacity(0)
		@include transform(translate(0, 10px))
		@include smooth-ease

	.contain-btn-service
		&:hover
			.btn-service-label
				@include transform(translate(0, 0))
				@include opacity(1)


	.btn-service
		.image-svg
			max-height: 150px


	.option-item
		+ .option-item
			border-left: 1px solid rgba(get-color(mute-lighten), .5)


	.post-body
		blockquote
			padding: 200px 25%

			&:before,
			&:after
				content: ''
				height: 180px

			&.vcard
				padding: 100px 25%

				&:before,
				&:after
					height: 80px


	.post-column-2
		@include column-count(2)
		@include column-gap(2 * $base-gap-width)
		@include column-break(avoid)

		p
			display: inline-block



	.post-meta
		float: right



	.post-head-icon
		.image-svg
			min-width: 100px
			max-height: 100px



	.contain-map
		height: 360px

		> .map	
			height: 360px


	.contain-header.affix
		position: fixed
		width: 100%
		left: 0
		top: 0
		z-index: 111

		.column-header:first-child,
		.header-complimentary
			display: none

		.column-header:last-child
			width: 100%
		


				
					
					
@media only screen and (min-width: $screen-md-min) and (max-width: 1440px)		
	.intro-services
		.font-size-32
			@include rem(font-size, 16px)

		.font-size-48
			@include rem(font-size, 24px)


	.intro-new
		.module.module-double
			padding-top: 0

	.ask-experts
		.media-object
			max-width: 125px

	.header-complimentary
		> .clearfix
			> .col-sm-9:first-child
				width: 100%

			> .col-sm-3:last-child
				display: none
				

	.header-primary .header-primary-service 
		.image-svg
			width: 48px
			height: 48px

		.font-size-18
			white-space: nowrap
			@include rem(font-size, 14px)


	.link-intro-service
		padding: 30px

		.font-size-24
			white-space: nowrap
			@include rem(font-size, 20px)

	.portfolio-post
		.module.text-left
			padding: 15px