@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
	[class^="col-md"],
	[class^="col-lg"],
	[class*="col-md"],
	[class*="col-lg"]
		+ [class^="col-md"]:not([class^="col-sm"]),
		+ [class^="col-lg"]:not([class^="col-sm"]),
		+ [class*="col-md"]:not([class*="col-sm"]),
		+ [class*="col-lg"]:not([class*="col-sm"])
			margin-top: $base-gap-width








@media only screen and (min-width: $screen-sm-min)			
	.header-complimentary
		//height: 78px

	.header-complimentary-item
		height: 100%

	.tagline
		//padding-top: 12px

	.nav-complimentary-toggle
		//padding-top: 24px
		//padding-bottom: 24px

	.logo
		> a
			> img
				max-height: 70px
				width: auto



	.contain-portfolio-item,
	.contain-portfolio-image
		@include display-flex

		&.cycle-slide-active
			display: -webkit-flex !important
			display: flex

	.contain-portfolio-image,
	.contain-portfolio-body .portfolio-post
		//max-height: 275px
		overflow: hidden

	.comment-meta
		padding-left: .5 * $base-gap-width

	.avatar
		margin-right: .5 * $base-gap-width

	.popover
		max-width: none
		min-width: .33 * $screen-sm-min

	.form-collision-contact-detail
		.row-flex
			display: flex

		.contain-btn-submit
			position: absolute
			bottom: 0
			left: 0
			width: 100%






@media only screen and (max-width: $screen-sm-max)				
	.intro-complimentary
		text-align: center

	.post-cover.spaced
		padding-bottom: 0

	.contain-post-meta.spaced
		padding-top: 0

	.image-background-active
		@include background-size(cover)

	.tile-item:not([class^="col-sm"]),
	.tile-item:not([class*="col-sm"])
		position: relative!important
		top: auto!important

	.intro-services
		&:before,
		&:after
			display: none

	.header-primary
		.inline-item,
		strong
			display: none

		.header-primary-item
			.image-svg
				width: 100%
				height: 100%

	.logo-primary
		padding: 10px


	#contain-nav-complimentary
		background: get-color(clean)
		border: 1px solid get-color(mute)

	.nav-complimentary
		padding: 0

		li
			margin-left: -10px
			margin-right: -10px
			padding: 10px

			a,
			a:visited
				color: get-color(primary)

				&:hover
					color: get-color(primary)

					&:after
						display: none
						

			+ li
				border-top: 1px solid get-color(mute)

			&:hover
				background: get-color(mute)

		.dropdown-menu
			li
				margin-left: -5px
				margin-right: -5px

	.affix
		position: static


	.header-primary .header-primary-item .image-svg.icon-helper
		width: 64px
		height: 64px

	.intro-services
		margin-top: 15%

	.contain-testimonial-slide
		margin-bottom: 30px

		.media-object
			margin-top: 20px
			margin-left: 20px


	.nav-complimentary-toggle
		margin-top: 8px

	.logo-primary img
		max-width: 85%
		margin: 0 auto


	.link-intro-service.border-left
		border-left: none

	.header-complimentary-item.tagline
		padding-left: 0
		padding-right: 0

	.header-complimentary-item > h2
		margin-left: 0
		
			
			





@media only screen and (min-width: 768px)				
	.option-group
		> .option-item
			width: 50%
			float: left

			.contain-repair-option-group &,
			.contain-plan-option-group &
				width: 33.33%

			+ .option-item
				margin-top: 0

			.image-svg
				width: 125px
				height: 125px


@media only screen and (min-width: 768px) and (max-width: 1024px)
	.header-complimentary
		> .clearfix
			> .col-sm-9:first-child
				width: 100%

			> .col-sm-3:last-child
				display: none

	.header-complimentary-item.tagline
		width: 83.33%